@model ClassScheduler.Models.SpreadsheetVariables

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SpreadsheetVariables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "SpreadsheetVariables", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            <partial name="Parts/_Form" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

