@model ClassScheduler.Models.SpreadsheetVariables

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SpreadsheetVariables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "SpreadsheetVariables", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="Parts/_Form" />
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<partial name="Parts/_DeleteConfirm" />