<div class="form-group">
    <select id="selectAcademicSemester" class="form-control chosen-select form-control-minor-select" asp-items="ViewBag.SemesterID"></select>
    <select id="inputAcademicYearSelector" class="form-control chosen-select form-control-minor-select" asp-items="ViewBag.AcademicYears"></select>
    <input id="btnAcademicSemesterEnter" value="Select" type="button" class="btn btn-default" />
    <a id="linkAcademicSemesterSelector" asp-action="SelectAcademicSemester"></a>
</div>