@{
    ViewData["Title"] = "Validate Spreadsheet";
}


<h2>Schedule Validator</h2>

<div style="float:right">
    <h3>Helpful Links</h3>
    <div><a asp-controller="Instructor" asp-action="Index">Instructors and assigned Sections</a></div>
    <div><a asp-controller="Section" asp-action="Index">Active Sections</a></div>
    <div id="linkSectionResources"><a asp-controller="ScheduleValidator" asp-action="SectionResources"></a></div>
    <div id="linkCourseLoads"><a asp-controller="ScheduleValidator" asp-action="CourseLoads"></a></div>
    <div id="linkSectionData"><a asp-controller="ScheduleValidator" asp-action="SectionData"></a></div>
</div>


<div class="center">
    <div class="flex-parent">
        <div class="loader status" id="dataCheckLoader"></div>
        <p class="flex-child" id="msgDataCheck">Validating Each Section's Data</p>
    </div>
    <div class="flex-parent">
        <div class="loader status" id="resourceCheckLoader"></div>
        <p class="flex-child" id="msgResourceCheck">Checking for Resource Conflicts Between Sections</p>
    </div>
    <div class="flex-parent">
        <div class="loader  status" id="instructorCheckLoader"></div>
        <p class="flex-child" id="msgInstructorCheck">Verifying All Active Instructor Course Loads</p>
    </div>
</div>

@section Scripts{
    <script src="~/js/validator.js"></script>

}

